{% extends "base-admin.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-9 col-lg-10 main">
            <h1 class="sub-header mt-5"> Coaching Présentation</h1>
            <hr>
            <h2 class="lead hidden-xs-down"><i class="fa fa-arrow-right"></i> Dans l'onglet CoachingPresentation, voulez-vous ajouter, un titre avec un contenu?</h2>
            <div class="row mb-3">
                <p> Remplissez alors ce formulaire:</p>

            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <hr>
            <button type="submit" class="btn btn-info">Ajouter</button>
            <hr>
            {{ form_end(form) }}

            <h2 class="lead hidden-xs-down"><i class="fa fa-arrow-right"></i>Dans l'onglet CoachingPresentation, voulez-vous modifier ou supprimer, un titre avec un contenu?</h2>
            <div class="row mb-3">
                <h1 class="sub-header mt-5">Coach</h1>

                <div class="row my-4">
                    <div class="col-lg-12 col-md-12 ">
                        <div class="table-responsive">
                            <table class="table-responsive-sm table-striped  "  id="Contacts" >
                                <thead class="table-info">
                                <tr>

                                    <th style="width: 10%">Titre</th>
                                    <th style="width: 10%">Contenu</th>

                                    <th  style="width: 15%" >Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for coach in coachs | reverse %}
                                    <tr>

                                        <td>{{ coach.name }}</td>
                                        <td>{{ coach.content }}</td>

                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href=""><button class="dropdown-item btn-sm" type="button">Editer/Modifier</button></a>
                                                    <a href=""><button class="dropdown-item btn-sm" type="button">Supprimer</button></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                        </div>


                    </div>

            <hr>

           <!-- <h2 class="lead hidden-xs-down">Code de déontologie</h2>
            <div class="row mb-3">
                <div class="rotate">
                    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-2x "></i>Ajouter</button>
                </div>
            </div>
            <h2 class="lead hidden-xs-down">Les compétences du Coach</h2>
            <div class="row mb-3">
                <div class="rotate">
                    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-pencil fa-2x "></i>Ajouter</button>
                </div>
            </div>

            <h2 class="lead hidden-xs-down">Les différentes activités</h2>
            <div class="row justify-content-between">
                <div class="col-4 col-xs-8">

                        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search fa-2x "></i>Coaching individuel</button>

                </div>
                <div class="col-4">
                    <div class="rotate">
                         <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search fa-2x "></i>Coaching professionnel</button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="rotate">
                        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search fa-2x "></i>Coaching scolaire</button>
                    </div>
                </div>
                </div><hr>-->
            </div>


    </div>

{% endblock %}