{% extends "base-admin.html.twig" %}
{% block content %}
    <div class="container">

        <h1 class="text-muted">Contact</h1>
        <hr>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-inverse card-info">
                <div class="card-block bg-info">
                    <div class="rotate">
                        <i class="fa fa-user fa-5x"></i>
                        <h3 class="text-uppercase"> {{ contactName }} {{ contactPrenom }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="text-muted">Informations générales:</h3>
    <div class="col-sm-8" >

        <p>(Message posté le <small>{{ contactDate|date("Y/m/d h:i:s") }})</small>, par  {{ contactName }}.</p>

        <p style="background-color: #C82829">Modifier à l'intérieur des encadrers suivants puis valider.</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}


            <button type="submit" class="btn btn-danger">Modifier</button>
            <a href="{{ path('adminContact') }}" class="btn btn-danger">Retour</a>

        {{ form_end(form) }}
        <hr>

{% endblock %}
{% block javascripts %}



{% endblock %}